// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

@media (max-width: 991px){
  .d-login-icon{
    display: block !important;
  }
}

.form-group {
  margin-bottom: 0.4rem !important;
}

label {
  display: inline-block;
  margin-bottom: 0.1rem;
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5,
.col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9,
.col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto,
.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3,
.col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7,
.col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9,
.col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 7px;
  padding-left: 7px;
}

.form-control {
  border-radius: 0 !important;
}

.dataTables_length {
  float: left;
}

.dataTables_info {
  padding-top: 20px !important;
}

.dataTables_paginate {
  padding-top: 8px !important;
}

.data-table {
  font-size: 12px !important;
}

.data-table > tbody > tr > th, .data-table > tfoot > tr > th {
  white-space: nowrap !important;
}

.data-table > tbody > tr > td, .data-table > tbody > tr > th,
.data-table > tfoot > tr > td,
.data-table > thead > tr > td {
  padding: 3px 9px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 23px !important;
}

div.dataTables_wrapper div.dataTables_processing {
  top: 0 !important;
  background-color: #337ab7 !important;
  color: #fff;
  margin-top: 5px !important;
}

@media (min-width: 768px) {
  div.dataTables_wrapper div.dataTables_filter {
    float: left;
  }
}

div.dataTables_wrapper div.dataTables_filter {
  float: left;
  padding-top: 15px;
}

div.dataTables_wrapper div.dataTables_info {
  float: left;
}

div.dataTables_wrapper div.dataTables_paginate {
  float: right;
}

#dataTableBuilder {
  width: 100% !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 400px !important;
  margin-right: 1em !important;
}

.dt-buttons {
  padding-top: 17px !important;
}

@media (min-width: 768px) {
  .dataTables_length {
    float: left;
    margin-right: 10px;
    padding-top: 14px;
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 1680px;
  }
}
